<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tags - Stack Overflow </title>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/sidebar.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/tag.css"/>
</head>
<body>
<header th:replace="~{fragments/header :: header(user=${loggedIn != null ? loggedIn : ''})}"/>

<main>
    <div th:replace="~{fragments/sidebar :: sidebar(questions=${questions},tags=${tags},users=${users})}"/>

    <section class="main-content">
        <section class="main-content-header">
            <div class="tags-content">
                <div class="content-wrapper">
                    <h2>Tags</h2>
                    <p>A tag is a keyword or label that categorizes your question with other, similar questions.
                        Using the right tags makes it easier for others to find and answer your question.</p>
                </div>
            </div>
            <div class="main-content-header-actions">
                <form th:action="@{/tags}" method="get">
                    <input class="search-bar" name="search" placeholder="Filter by tag name" th:value="${search}"
                           type="search"/>
                    <button class="header-btn login-btn" type="submit">Search</button>
                </form>
                <ul class="main-content-header-actions-sort">
                    <li class="sort-tab" data-sort="asc">New</li>
                    <li class="sort-tab" data-sort="desc">Old</li>
                </ul>
            </div>
        </section>
        <section class="main-content-tags-section">
            <p th:if="${tags.size() == 0}"
               style="text-align: left; font-size: 17px;">No tags
                found.</p>
            <div class="tag-card" th:each="tag : ${tags}">
                <div class="tag-name" th:text="${tag.name}">Tag Name</div>
                <div class="question-count" th:text="'Questions: ' + ${tag.questionCount}"></div>
            </div>
        </section>
        <section class="pagination">
            <a th:if="${current_page > 0}"
               th:href="@{/tags?(page=${current_page - 1}, size=${size}, sort=${sort}, search=${search})}"
               th:text="'Prev'"
               class="header-btn">
            </a>
            <a th:each="page : ${#numbers.sequence(1, total_pages)}"
               th:class="${page == current_page + 1} ? 'page-number current-page' : 'page-number'"
               th:text="${page}"
               th:href="@{/tags?(page=${page - 1}, size=${size}, sort=${sort})}"></a>
            <a th:if="${current_page < total_pages - 1}"
               th:href="@{/tags?(page=${current_page + 1}, size=${size}, sort=${sort}, search=${search})}"
               th:text="'Next'"
               class="header-btn">
            </a>
        </section>
    </section>
</main>
<footer th:replace="~{fragments/footer :: footer}"/>
</body>
<script>
    const currentSort = new URLSearchParams(window.location.search).get('sort') || 'asc'; // Default to 'asc'

    document.querySelectorAll('.sort-tab').forEach(tab => {
        if (tab.getAttribute('data-sort') === currentSort) {
            tab.classList.add('selec'); // Add selec class if it matches the current sort
        }

        tab.addEventListener('click', function() {
            // Remove the 'selec' class from all tabs
            document.querySelectorAll('.sort-tab').forEach(t => t.classList.remove('selec'));
            // Add the 'selec' class to the clicked tab
            this.classList.add('selec');

            const sortType = this.getAttribute('data-sort');
            const currentPage = new URLSearchParams(window.location.search).get('page') || 0;
            const currentSize = new URLSearchParams(window.location.search).get('size') || 5;

            // Redirect to the same page with the updated sort parameter
            window.location.href = `?page=${currentPage}&size=${currentSize}&sort=${sortType}`;
        });
    });
</script>
</html>