<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="renderComments(comments, question, loggedIn)">
    <div th:each="this_comment : ${comments}" class="qs-comment">
        <span th:text="${this_comment.comment}"></span>
        <a th:href="@{/users/{userId}(userId=${this_comment.author.id})}">
            <span style="color: blue;" class="comment-meta"
                  th:text="' - by ' + ${this_comment.author.username} + ', ' + ${#temporals.format(this_comment.updatedAt, 'MMM d, yyyy ''at'' HH:mm')}">

            </span>
        </a>
        <span class="comment-meta"
              th:if="${loggedIn != null && !this_comment.author.username.equals(loggedIn.username)}"
              onclick="toggleReplyForm(this);">Reply</span>

        <section class="answer-section-act">
            <section class="qs-actions"
                     th:if="${loggedIn != null && this_comment.author.username.equals(loggedIn.username)}">
                <p style="text-decoration: none;color: #636B74;"
                   th:data-id="${question.id}"
                   th:data-cid="${this_comment.id}"
                   th:data-comment="${this_comment.comment}"
                   onclick="toggleEditCommentForm(this.dataset.comment, this.dataset.cid, this.dataset.id);">Edit</p>
                <form th:action="@{/questions/{questionId}/comments/{commentId}/delete(questionId=${question.id}, commentId=${this_comment.id})}"
                      method="post">
                    <input type="submit" class="ans-delete-btn" th:value="Delete"/>
                </form>
            </section>
        </section>

        <div class="reply-form comment-form" style="display:none;">
            <form th:action="@{/questions/{questionId}/comments/{commentId}(questionId=${question.id}, commentId=${this_comment.id})}"
                  method="POST">
                <textarea rows="2" cols="50" name="comment" placeholder="Write your reply here..."
                          required></textarea><br>
                <button type="submit">Submit Reply</button>
                <button class="close-edit-btn header-btn" onclick="closeForm();" type="button">Close</button>
            </form>
        </div>

        <div th:if="${this_comment.comments.size() > 0}" class="nested-comments">
            <div th:replace="~{fragments/comments :: renderComments(comments=${this_comment.comments}, question=${question}, loggedIn=${loggedIn})}"></div>
        </div>
    </div>
</div>

<div th:fragment="renderAnswerComments(comments, answer, question, loggedIn)">
    <div th:each="this_comment : ${comments}" class="qs-comment">
        <span th:text="${this_comment.comment}"></span>
        <a th:href="@{/users/{userId}(userId=${this_comment.author.id})}">
            <span style="color: blue;" class="comment-meta"
                  th:text="' - by ' + ${this_comment.author.username} + ', ' + ${#temporals.format(this_comment.updatedAt, 'MMM d, yyyy ''at'' HH:mm')}">

            </span>
        </a>
        <span class="comment-meta"
              th:if="${loggedIn != null && !this_comment.author.username.equals(loggedIn.username)}"
              onclick="toggleReplyForm(this);">Reply</span>

        <section class="answer-section-act">
            <section class="qs-actions"
                     th:if="${loggedIn != null && this_comment.author.username.equals(loggedIn.username)}">
                <p style="text-decoration: none;color: #636B74;"
                   th:data-aId="${answer.id}"
                   th:data-qId="${question.id}"
                   th:data-cId="${this_comment.id}"
                   th:data-commentData="${this_comment.comment}"
                   onclick="toggleEditAnswerCommentForm(this);">Edit</p>
                <form th:action="@{/questions/{questionId}/comments/{commentId}/delete(questionId=${question.id}, commentId=${this_comment.id})}"
                      method="post">
                    <input type="submit" class="ans-delete-btn" th:value="Delete"/>
                </form>
            </section>
        </section>

        <div class="reply-form comment-form" style="display:none;">
            <form th:action="@{/questions/{questionId}/comments/{answerId}/{commentId}/answers(questionId=${question.id}, commentId=${this_comment.id}, answerId=${answer.id})}"
                  method="POST">
                <textarea rows="2" cols="50" name="comment" placeholder="Write your reply here..."
                          required></textarea><br>
                <button type="submit">Submit Reply</button>
                <button class="close-edit-btn header-btn" onclick="closeForm();" type="button">Close</button>
            </form>
        </div>


        <div th:if="${this_comment.comments.size() > 0}" class="nested-comments">
            <div th:replace="~{fragments/comments :: renderAnswerComments(comments=${this_comment.comments}, question=${question}, answer=${answer}, loggedIn=${loggedIn})}"></div>
        </div>
    </div>
</div>