<html xmlns:th="http://www.thymeleaf.org">
<body>
<style>
    .note-section {
    background-color: #EDF5FD;
    border: 1px solid #92C2F2;
    margin: 10px;
    padding: 10px;
    }

    .close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #f1f1f1;
    }
</style>
<div th:fragment="notificationFragment(reputation)" style="background-color: #EDF5FD;
    border: 1px solid #92C2F2;
    margin: 10px;
    padding: 5px 25px 25px 25px; border-radius: 5px; display: flex; flex-direction: column; width: 100%;">
    <div style="display: flex; justify-content: flex-end; align-items: center; cursor: pointer;"
         onclick="this.parentElement.style.display='none';">
        <button style="background-color: transparent; border: none; font-size: 25px; cursor: pointer;" class="close"
        >&times;
        </button>
    </div>
    <p style="width: 100%;"
       th:text="'Answers to this question are eligible for a +' + ${reputation} + ' reputation bounty. If you post an answer and it gets upvoted, you will receive the bounty points. However, if your answer receives downvotes, you may lose reputation points. '"></p>
</div>
</body>
