* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-section {
    width: 100%;
    height: 65px;
    border-top: 1.5px solid #D6D9DC;
    padding: 0 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    /* bottom: 0; */
}
.footer-logo {
    width: 170px;
    height: 35px;
}
.footer-text{
    color: #999999;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (max-width: 935px) {
    .footer-section{
        padding: 15px;
    }
}