.main-content-question-detail-section{
    display: flex;
    align-items: flex-start;
}
.header{
    width: 85%;
    font-size: larger;
}

.heading-section{
    margin-top: 10px
}

.main-content-header{
    height: fit-content;
}
.main-content{
    padding : 0 8px;
}
.qs-tags-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 5px;
}
.qs-actions{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    cursor: pointer;
}
.qs-actions a:hover{
    color: #1b75d0;
    text-decoration: underline;
}

.qs-tag {
            background-color: gray; /* Gray background */
            color: white; /* Text color */
            padding: 10px 20px; /* Vertical and horizontal padding */
            border: none; /* No border */
            border-radius: 25px; /* Rounded edges for pill shape */
            cursor: pointer; /* Pointer cursor on hover */
            font-size: 16px; /* Font size */
            transition: background-color 0.3s; /* Smooth transition for hover effect */
        }

        .qs-tag:hover {
            background-color: darkgray; /* Darker gray on hover */
        }

.qs-detail-content{
    width: 90%;
    height: fit-content;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.qs-detail-actions{
    width: 10%;
}