<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | Stackoverflow </title>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/sidebar.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
</head>
<body>
<header th:replace="~{fragments/header :: header(user=${loggedIn != null ? loggedIn : ''})}"/>

<main>
    <div th:replace="~{fragments/sidebar :: sidebar(questions=${questions},tags=${tags},users=${users},recentTags=${recentTags})}"/>

    <section class="main-content">
        <section class="main-content-header">
            <div class="main-content-header-heading">
                <h2>All Questions</h2>
                <a th:href="@{/questions/ask}">
                    <button class="header-btn">Ask Questions</button>
                </a>
            </div>
            <div class="main-content-header-actions">
                <p th:text="${questions.size() + ' questions' }"/>
                <ul class="main-content-header-actions-sort">
                    <li th:class="${sort.equals('newest') ? 'sort-tab selec' : 'sort-tab'}" data-sort="newest">Newest
                    </li>
                    <li th:class="${sort.equals('oldest') ? 'sort-tab selec' : 'sort-tab'}" data-sort="oldest">Oldest
                    </li>
                    <li th:class="${sort.equals('mostliked') ? 'sort-tab selec' : 'sort-tab'}" data-sort="mostliked">
                        Most Liked
                    </li>
                </ul>
            </div>
        </section>

        <section class="main-content-question-section">
            <p th:if="${questions.size() == 0}"
               style="text-align: center;padding: 10px; font-size: 17px;">No questions
                found.</p>
            <section th:each="question : ${questions}"
                     class="question-card">
                <div class="qs-side">
                    <p th:text="${question.upvotes} + ' votes'"/>
                    <p th:text="${question.downvotes} + ' downvotes'"/>
                    <p th:text="${question.answersCount} + ' answers'"/>
                </div>
                <div class="qs-content">
                    <a th:href="@{/questions/{id}(id=${question.id})}"><h4 th:text="${question.title}"/></a>
                    <div class="question-body" th:utext="${@htmlUtils.truncateHtml(question.body, 200)}">

                    </div>
                    <div>
                        <span class="qs-date" th:text="${#temporals.format(question.updatedAt, 'yyyy-MM-dd HH:mm')}"/>
                        <span class="qs-user" th:text="${question.author.username}"/>
                    </div>
                </div>
            </section>
            <section class="pagination">
                <a th:if="${current_page > 0}"
                   th:href="@{/questions?(page=${current_page - 1}, size=${size}, sort=${sort})}"
                   th:text="'Prev'"
                   class="header-btn">
                </a>
                <a th:each="page : ${#numbers.sequence(1, total_pages)}"
                   th:class="${page == current_page + 1} ? 'page-number current-page' : 'page-number'"
                   th:text="${page}"
                   th:href="@{/questions?(page=${page - 1}, size=${size}, sort=${sort})}"></a>
                <a th:if="${current_page < total_pages - 1}"
                   th:href="@{/questions?(page=${current_page + 1}, size=${size}, sort=${sort})}"
                   th:text="'Next'"
                   class="header-btn">
                </a>
            </section>
        </section>
    </section>

</main>
<footer th:replace="~{fragments/footer :: footer}"/>

</body>
<script>
    document.querySelectorAll('.sort-tab').forEach(tab => {
        tab.addEventListener('click', function() {
            const sortType = this.textContent.toLowerCase().trim().split(' ').join('');
            const currentPage = new URLSearchParams(window.location.search).get('page') || 0;
            const currentSize = new URLSearchParams(window.location.search).get('size') || 5;
            window.location.href = `?page=${currentPage}&size=${currentSize}&sort=${sortType}`;
        });
    });
</script>
</html>