<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | Stackoverflow </title>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/sidebar.css"/>
    <link rel="stylesheet" href="/css/questionForm.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
</head>
<body>
<header th:replace="~{fragments/header :: header(user=${loggedIn != null ? loggedIn.username : ''})}"/>

<main>
    <div th:replace="~{fragments/sidebar :: sidebar}"/>

    <section class="main-content">
        <section class="main-content-header">
            <div class="main-content-header-heading">
                <h2>All Questions</h2>
                <button class="header-btn" id="openModalButton">Ask Questions</button>
            </div>
            <div class="main-content-header-actions">
                <p th:text="${questions.size() + ' questions' }"/>
                <div class="main-content-header-actions-sort">
                    <li class="sort-tab selec">Newest</li>
                    <li class="sort-tab">Oldest</li>
                    <li class="sort-tab">MostLiked</li>
                </div>
                <button class="header-btn login-btn filter-btn">
                    <svg aria-hidden="true" class="svg-icon iconFilter" width="18" height="18" viewBox="0 0 18 18">
                        <path d="M2 4h14v2H2zm2 4h10v2H4zm8 4H6v2h6z"></path>
                    </svg>
                    Filters
                </button>
            </div>
        </section>
        <section class="main-content-question-section">
            <section th:each="question : ${questions}"
                     class="question-card">
                <div class="qs-side">
                    <p th:text="${question.upvotes}"/>
                    <p th:text="${question.downvotes}"/>
                    <p th:text="${question.answers.size()}"/>
                </div>
                <div class="qs-content">
                    <h4 th:text="${question.title}"/>
                    <p th:text="${question.body}"/>
                    <div>
                        <span class="qs-date" th:text="${question.updatedAt}"/>
                        <span class="qs-user" th:text="${question.authorDTO.username}"/>
                    </div>
                </div>
            </section>
        </section>
        <section class="pagination">
            <button class="header-btn">Prev</button>
            <span>1/10</span>
            <button class="header-btn">Next</button>
        </section>
    </section>
</main>
<footer th:replace="~{fragments/footer :: footer}"/>

<div th:replace="~{fragments/questionForm :: questionForm(question=${questionRequestDTO})}"/>

</body>
<script>
    // Open question form modal
    document.getElementById('openModalButton').onclick = function() {
            document.getElementById('questionModal').style.display = 'flex';
        };

    // Open Login Modal
    document.getElementById('openLoginModalButton').onclick = function() {
            document.getElementById('loginModal').style.display = 'flex';
        };

    // Open Sign Up Modal
    document.getElementById('openSignupModalButton').onclick = function() {
            document.getElementById('signupModal').style.display = 'flex';
        };

    // Close Login Modal
    document.getElementById('closeLoginModalButton').onclick = function() {
            document.getElementById('loginModal').style.display = 'none';
        };

    // Close question form modal
    document.getElementById('closeModalButton').onclick = function() {
            document.getElementById('questionModal').style.display = 'none';
        };

     // Close Sign Up Modal
     document.getElementById('closeSignupModalButton').onclick = function() {
            document.getElementById('signupModal').style.display = 'none';
        };

    // Close modal when clicking outside of modal-content
    window.onclick = function(event) {
        if (event.target == document.getElementById('questionModal')) {
            document.getElementById('questionModal').style.display = 'none';
        }
        if (event.target == document.getElementById('loginModal')) {
                document.getElementById('loginModal').style.display = 'none';
        }
        if (event.target == document.getElementById('signupModal')) {
                document.getElementById('signupModal').style.display = 'none';
        }
    };
</script>
</html>