<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.title}"></title>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/sidebar.css"/>
    <link rel="stylesheet" href="/css/questions/detail.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <script src="/tinymce_7.3.0/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '.body',  // The textarea id
            menubar: false,
            plugins: 'advlist autolink lists link image charmap preview anchor searchreplace visualblocks code fullscreen insertdatetime media table paste help wordcount',
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
            height: 350
        });
    </script>
</head>
<body>
<header th:replace="~{fragments/header :: header(user=${loggedIn != null ? loggedIn : ''})}"/>

<main>
    <div th:replace="~{fragments/sidebar :: sidebar(questions=${question},tags=${tags},users=${users})}"/>

    <section class="main-content">
        <section class="main-content-header">
            <div class="main-content-header-heading heading-section">
                <h2 th:text="${question.title}" class="header"></h2>
                <a th:href="@{/questions/ask}">
                    <button class="header-btn">Ask Questions</button>
                </a>
            </div>
            <div class="main-content-header-actions">
                <p th:text="'Asked ' + ${#temporals.format(question.createdAt, 'yyyy-MM-dd HH:mm')}"/>
                <p th:if="${#temporals.format(question.createdAt, 'yyyy-MM-dd HH:mm') != #temporals.format(question.updatedAt, 'yyyy-MM-dd HH:mm')}"
                   th:text="'Modified ' + ${#temporals.format(question.updatedAt, 'yyyy-MM-dd HH:mm')}"/>
            </div>
        </section>
        <section class="main-content-question-detail-section">
            <section class="question-section">
                <section class="qs-side">
                    <section class="qs-like">
                        <form th:action="@{/questions/{questionId}/upvote(questionId=${question.id})}" method="post">
                            <button type="submit" th:class=" ${question.upvoted ? 'qs-like-btn voted' : 'qs-like-btn'}">
                                <svg aria-hidden="true" class="svg-icon iconArrowUp" width="18" height="18"
                                     viewBox="0 0 18 18">
                                    <path d="M1 12h16L9 4z"></path>
                                </svg>
                            </button>
                        </form>
                        <span class="qs-like-count" th:text="${question.upvotes - question.downvotes}"></span>
                        <form th:action="@{/questions/{questionId}/downvote(questionId=${question.id})}" method="post">
                            <button type="submit"
                                    th:class=" ${question.downvoted ? 'qs-like-btn voted' : 'qs-like-btn'}">
                                <svg aria-hidden="true" class="svg-icon iconArrowDown" width="18" height="18"
                                     viewBox="0 0 18 18">
                                    <path d="M1 6h16l-8 8z"></path>
                                </svg>
                            </button>
                        </form>
                    </section>
                    <section class="qs-save">
                        <svg aria-hidden="true" class="js-saves-btn-unselected svg-icon iconBookmarkAlt" width="18"
                             height="18" viewBox="0 0 18 18">
                            <path d="m9 10.6 4 2.66V3H5v10.26zM3 17V3c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v14l-6-4z"></path>
                        </svg>
                        <svg aria-hidden="true" class="fc-theme-primary-400 js-saves-btn-selected svg-icon iconBookmark"
                             width="18" height="18" viewBox="0 0 18 18">
                            <path d="M3 17V3c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v14l-6-4z"></path>
                        </svg>
                    </section>
                </section>
                <section class="qs-detail-content">
                    <p th:utext="${@htmlUtils.extractFormattedContent(question.body)}"></p>
                    <section class="qs-tags-section">
                        <p th:each="tag : ${question.tags}" th:text="${tag.name}" class="qs-tag"></p>
                    </section>
                    <section>
                        <section class="qs-actions">
                            <a href="#" class="link-style"
                               th:if="${loggedIn != null && question.author != null && loggedIn.username == question.author.username}"
                               onclick="submitUpdateForm('updateForm'); return true;">Edit</a>

                            <form id="updateForm"
                                  th:action="@{/questions/{id}/update(id=${question.id})}"
                                  method="get" style="display: none;">
                                <input type="hidden" th:name="id" th:value="${question.id}"/>
                            </form>

                            <a href="#" class="link-style"
                               th:if="${loggedIn != null && question.author != null && loggedIn.username == question.author.username}"
                               onclick="submitForm('deleteForm'); return true;">Delete</a>

                            <form id="deleteForm"
                                  th:action="@{/questions/{id}/delete(id=${question.id})}"
                                  method="post" style="display: none;">
                                <input type="hidden" name="_method" value="delete"/>
                            </form>
                        </section>
                        <section>
                            <section class="qs-actions ans-details qs-details">
                                <p th:text="'asked ' + ${#temporals.format(question.updatedAt, 'yyyy-MM-dd HH:mm')}"></p>
                                <p th:text="'by ' + ${question.author.username}"></p>
                            </section>
                        </section>
                    </section>

                    <section class="comment-section js-comment-component">
                        <div class="comment-container js-comment-list-container border-top border-gray mt-12">
                            <ul class="comment-list js-comment-list">
                                <div class="comment-item js-comment-text-form">
                                    <li class="comment-item-element js-comment"
                                        th:each="this_comment : ${question.comments}">
                                        <div class="comment-body js-comment-edit-hide">
                                            <span class="comment-text" th:text="${this_comment.comment}"></span>

                                            <div class="comment-author d-inline-flex ai-center">
                                                –&nbsp;
                                                <a class="comment-author-name"
                                                   th:href="@{/users/{user_id}(user_id=${this_comment.author.id})}">
                                                    <span th:text="${this_comment.author.username}"></span>
                                                </a>
                                            </div>

                                            <span class="comment-timestamp" dir="ltr">
                                                <a class="comment-link">
                                                    <span class="comment-time">
                                                        <span th:text="${#temporals.format(this_comment.updatedAt, 'MMM d, yyyy ''at'' HH:mm')}"/>
                                                    </span>
                                                </a>
                                            </span>

                                                <!-- Add comment section -->
                                                <p class="comment-edit-link">
                                                <div id="toggleEditComment" onclick="toggleEditCommentForm();"
                                                     th:if="${loggedIn != null && question.author != null && loggedIn.username == this_comment.author.username}">
                                            Edit</div>
                                                </p>

                                            <div class="comment-form" id="editCommentForm" style="display: none;">
                                                <form method="POST"
                                                      th:action="@{/questions/{questionId}/comments/{commentId}/edit(questionId=${question.id},commentId=${this_comment.id})}">
                                                    <textarea cols="50" name="comment" placeholder="Write your comment here..." required
                                                              th:text ="${this_comment.comment}"
                                                              rows="4"></textarea><br>
                                                    <button type="submit">Update Comment</button>
                                                </form>
                                            </div>


                                           <a class="comment-delete-link"
                                               href="#"
                                               onclick="submitForm('deleteComment'); return true;"
                                               th:if="${loggedIn != null && question.author != null && loggedIn.username == this_comment.author.username}">
                                                Delete
                                            </a>

                                            <form id="deleteComment"
                                                  method="post"
                                                  style="display: none;" th:action="@{/questions/{questionId}/comments/{commentId}/delete(questionId=${question.id}, commentId=${this_comment.id})}">
                                                <input name="_method" type="hidden" value="delete"/>
                                            </form>
                                        </div>
                                    </li>
                                </div>
                            </ul>

                            <!-- Add comment section -->
                            <p class="comment-add-toggle">
                            <div id="toggleComment" onclick="toggleCommentForm();">Add a comment</div>
                            </p>

                            <div class="comment-form" id="commentForm" style="display: none;">
                                <form method="POST"
                                      th:action="@{/questions/{questionId}/comments(questionId=${question.id})}">
                                    <textarea cols="50" name="comment" placeholder="Write your comment here..." required
                                              rows="4"></textarea><br>
                                    <button type="submit">Submit Comment</button>
                                </form>
                            </div>

                        </div>
                    </section>

                </section>
            </section>
            <section style="width: 100%;">
                <p class="answer-heading"
                   th:text="${question.answers.size() > 1 ? question.answers.size() + ' Answers' : question.answers.size() + ' Answer'}"></p>
                <section th:each="answer : ${question.answers}" class="answer-section">
                    <section class="qs-side answer">
                        <section class="qs-like">
                            <form th:action="@{/questions/{questionId}/answers/{answerId}/upvote(questionId=${question.id}, answerId=${answer.id})}"
                                  method="post">
                                <button type="submit"
                                        th:class=" ${answer.upvoted ? 'qs-like-btn voted' : 'qs-like-btn'}">
                                    <svg aria-hidden="true" class="svg-icon iconArrowUp" width="18" height="18"
                                         viewBox="0 0 18 18">
                                        <path d="M1 12h16L9 4z"></path>
                                    </svg>
                                </button>
                            </form>
                            <span class="qs-like-count" th:text="${answer.upvotes - answer.downvotes}"></span>
                            <form th:action="@{/questions/{questionId}/answers/{answerId}/downvote(questionId=${question.id}, answerId=${answer.id})}"
                                  method="post">
                                <button type="submit"
                                        th:class=" ${answer.downvoted ? 'qs-like-btn voted' : 'qs-like-btn'}">
                                    <svg aria-hidden="true" class="svg-icon iconArrowDown" width="18" height="18"
                                         viewBox="0 0 18 18">
                                        <path d="M1 6h16l-8 8z"></path>
                                    </svg>
                                </button>
                            </form>
                        </section>
                        <section class="qs-save">
                            <svg aria-hidden="true" class="js-saves-btn-unselected svg-icon iconBookmarkAlt" width="18"
                                 height="18" viewBox="0 0 18 18">
                                <path d="m9 10.6 4 2.66V3H5v10.26zM3 17V3c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v14l-6-4z"></path>
                            </svg>
                            <svg aria-hidden="true"
                                 class="fc-theme-primary-400 js-saves-btn-selected svg-icon iconBookmark"
                                 width="18" height="18" viewBox="0 0 18 18">
                                <path d="M3 17V3c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v14l-6-4z"></path>
                            </svg>
                        </section>
                    </section>
                    <section class="qs-detail-content">
                        <div style="width: 100%; min-width: 98%;">
                            <p th:utext="${@htmlUtils.extractFormattedContent(answer.body)}"></p>
                        </div>
                        <section class="answer-section-act">
                            <section class="qs-actions"
                                     th:if="${loggedIn != null && answer.author.username.equals(loggedIn.username)}">
                                <a style="text-decoration: none;color: #636B74;"
                                   th:href="@{/questions/{questionId}/answers/{answerId}/editAnswer(questionId=${question.id},answerId=${answer.id})}">Edit</a>
                                <form th:action="@{/questions/{questionId}/answers/{answerId}/deleteAnswer(questionId=${question.id},answerId=${answer.id})}"
                                      method="post">
                                    <input type="submit" class="ans-delete-btn" th:value="Delete"/>
                                </form>
                            </section>
                            <section class="qs-actions ans-details">
                                <p th:text="'answered ' + ${#temporals.format(answer.updatedAt, 'yyyy-MM-dd HH:mm') != #temporals.format(answer.createdAt, 'yyyy-MM-dd HH:mm') ? #temporals.format(answer.updatedAt, 'yyyy-MM-dd HH:mm') : #temporals.format(answer.createdAt, 'yyyy-MM-dd HH:mm')}"></p>
                                <p th:text="'by ' + ${answer.author.username}"></p>
                            </section>
                        </section>
                        <section class="qs-comment-section">
                            <!--                            <p th:if="{answer.comments.size() > 0}" class="qs-comment"/>-->
                            <!--                            </p>-->
                            <p class="qs-comment-add">
                                <a>
                                    Add a comment
                                </a>
                            </p>
                        </section>
                    </section> </section>
            </section>
            <section class="answer-add-section">
                <p>Your Answer</p>
                <form
                        th:if="${updatingAnswer == null}"
                        th:action="@{/questions/{questionId}/answers/saveAnswer(questionId=${question.id})}"
                        th:object="${answerRequestDTO}"
                        method="post">
                    <div class="input-body">
                    <textarea id="body"
                              class="body"
                              name="body"
                    ></textarea>
                    </div>
                    <button th:if="${loggedIn == null}" disabled class="header-btn" type="submit"
                    >Post Your Answer (to post answer, please log in)
                    </button>
                    <button th:if="${loggedIn != null}" class="header-btn" type="submit"
                    >Post Your Answer
                    </button>
                    <p th:if="${errors_answers != null}" th:each="error : ${errors_answers}" th:text="${error}"
                       style="color: red;"></p>
                </form>
                <form
                        th:if="${updatingAnswer != null}"
                        th:action="@{/questions/{questionId}/answers/{answerId}/updateAnswer(questionId=${question.id},answerId=${updatingAnswer.id})}"
                        th:object="${answerRequestDTO}"
                        method="post">
                    <div class="input-body">
                    <textarea id="updatingBody"
                              class="body"
                              th:text="${updatingAnswer.body}"
                              name="body"
                    ></textarea>
                    </div>
                    <button class="header-btn" type="submit"
                    >Update your answer
                    </button>
                    <p th:if="${errors_answers != null}" th:each="error : ${errors_answers}" th:text="${error}"
                       style="color: red;"></p>
                </form>
            </section>
        </section>
    </section>
</main>
<footer th:replace="~{fragments/footer :: footer}"/>
</body>
<script>
    function submitForm(formId) {
         document.getElementById(formId).submit();
     }

     function submitUpdateForm(formId) {
          document.getElementById(formId).submit();
     }

     function toggleCommentForm() {
     const commentForm = document.getElementById("commentForm");

     if (commentForm) {
         // Toggle the display property
         commentForm.style.display = (commentForm.style.display === "none" || commentForm.style.display === "") ? "block" : "none";
     } else {
         console.error("Comment form not found");
     }

 }


     function toggleEditCommentForm(thisCommentValue) {
     if (editCommentForm) {
         // Toggle the display property
         editCommentForm.style.display = (editCommentForm.style.display === "none" || editCommentForm.style.display === "") ? "block" : "none";

         document.getElementById("commentValue").value = thisCommentValue;
     } else {
         console.error("Comment form not found");
     }

    }

</script>
</html>